doctype html
html(lang="en")
  head
    title Add App to Zoom
  body
    h1 Your Zoom App
    p Click the button below to authorize and add this app to your Zoom client.
    a(href=url, target="_blank")
      img(src="https://marketplacecontent.zoom.us/zoom_marketplace/img/add_to_zoom.png", alt="Add to Zoom")